// Colors
$cyan: #00A2D9;
$berry: #B7295A;
$green: #7AB800;
$yellow: #F2AF00;
$accentColor: $green;

@import 'flex.scss';
@import 'normalize.scss';

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-content(flex-start);
  @include justify-content(center);
  background-image: url('../img/pat.png');
  // background-image: url('../img/pat-2.png');
  transition: .5s;

  color: #222;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

.noscroll {
  overflow: hidden;
}

.top-bar {
  .user-info {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: .5rem;
    right: 1rem;
    border-radius: 10px;
    img {
      width: 1.8rem;
      border-radius: 10px;
    }
    @media screen and (min-width: 600px) {
      top: 1.1rem;
    }
  }
  .user-name {
    font-size: 0.7rem;
  }
  box-sizing: border-box;
  text-shadow: 0 0 3px rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 80px;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  color:#FFF;
  background:$green;

  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
  span.p-btn {
    display:none;
    box-sizing: border-box;
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-left: 0.6rem;
  }
  .shopping-list {
    cursor: pointer;
    padding: 0.3rem;
    @include flexbox;
    @include align-items(center);
    border-radius: 9px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.1);
    opacity: 0.6;
    position: absolute;
    font-weight: 700;

    background: {
      image: url('../img/shopping-list.svg');
      size: 1.3rem;
      position: center;
      repeat: no-repeat;
      color: darken($green, 2%);
    }

    width: 1.3rem;
    height: 1.3rem;
    top: .4rem;
    left: 0.8rem;
    @media screen and (min-width: 600px) {
      width: 7rem;
      top: 1.1rem;
      background: {
        position: 5.8rem center;
      }
    }
  }
  @media screen and (min-width: 600px) {
    height: 100px;
    padding-top: 20px;
    span.p-btn {
      display: inline;
    }
  }
}

.top-nav {
  margin-top: 1rem;
  width: 100vw;
  @media screen and (min-width: 600px) {
    margin-top: 24px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flexbox;

    li {
      @include flex(0,0,50vw);
      cursor: pointer;
      transition: 0.2s;
      text-align: center;
      width: 50%;
      font-size: 0.8rem;
      line-height: 1.1rem;
      height: 1.4rem;
      // color: #A8D74C;
      color:#FFF;
      padding-top: 0.33rem;
      border-radius: 7px 7px 0 0 ;
      &.selected {
        font-weight: 700;
        color:#FFF;
        background: darken($green, 2%);
        box-shadow: inset 0px 0px 5px rgba(0,0,0,.1);

        border-bottom: 4px solid #FFF;
      }
    }
  }
}

.swipeToRemove {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(wrap);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  h1 {
    font-size: 1.1rem;
    color: #000;
    width: 100%;
    margin-bottom: 0;
    line-height: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    span {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
  }
  ul {
    @include flexbox;
    @include justify-content(space-around);
    font-weight: 700;
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    color:#FFF;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
    li {
      box-sizing: border-box;
      @include flex(1, 1, 135px);
      padding: 0.6rem;
      margin: 0 0.5rem;
      text-align: center;
      background:$berry;
      border-radius: 8px;
      &:last-of-type{
        background:#777;
      }
    }
  }
}
div.add-item {
  cursor: pointer;
  @include flex-grow(0);
  // opacity: 0.8;
  padding: 1.7rem;
  margin: 6.2rem auto 0;
  width: 60vw;
  max-height: 2rem;
  border-radius: 7px;
  background:#FFF;
  box-shadow: inset 0 0 7px rgba(0,0,0,.3);
  img {
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 0;
  }
  color: #999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
  @media screen and (min-width: 600px){
    margin-top: 7.5rem;
  }
}

.item-list {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-content(flex-start);
  box-sizing: border-box;
  margin-top: .2rem;
  padding: 1rem;
  width: 100%;
  max-width: 1100px;
  .food-item {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    cursor: pointer;
    &:last-of-type{
      margin-bottom: 2.5rem;
    }
    @include flexbox;
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    background:#FFF;
    // transition: 0.1s;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    border-radius: 7px;
    color:#4A4A4A;

    .item-img {
      border-radius: 7px 0 0 7px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      background: {
        size: cover;
      }
      img {
        width: 100%;
      }
    }
    .item-desc {
      @include flexbox;
      @include justify-content(center);
      @include flex-direction(column);

      margin-left: 1.5rem;

      span {
        display: block;
        width: 100%;
      }
      .item-name {
        font-size: 1rem;
        font-weight: 400;

      }
      .item-quantity {
        font-size: 0.9rem;
        line-height: 1.4rem;
        font-weight: 300;
        margin-bottom: 0.1rem;
      }
      .added-date, .exp-date {
        font-size: 0.7rem;
        font-weight: 300;
      }
    }
    @media screen and (min-width: 700px) {
      width: 46vw;
      margin-right: 3vw;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 1100px) {
      width: 342px;
      margin-right: 17px;

      &:nth-of-type(2n) {
        margin-right: 17px;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}

.add-item {
  cursor: pointer;
}
footer.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  background:#999;
  color:#FFF;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.4);
  a {
    text-decoration: none;
    color:#FFF;
  }

  .logout-btn {
    position: fixed;
    right: 1.5rem;
    font-size: 0.5rem;
    color: #BBB;
    cursor: pointer;
  }
}
.loading-anim {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  z-index: 11;
  img {
    width: 50px;
    height: 50px;
  }
}

.overlay {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.9);
  z-index: 10;
  opacity:0;
  .adding-item {
    @include flexbox;
    @include justify-content(flex-start);
    @include flex-direction(column);
    // border: #FFF 1px solid;
    width: 300px;
    height: 380px;

    @media screen and (min-width: 600px) {
      width: 600px;
      height: 445px;
    }
    h1 {
      color:#FFF;
      font-size: 1.2rem;
      text-align: center;
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .msg{
      color:#FFF;
      display: none;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 700;
    }



    /* The Modal (background) */
    .modal {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        // display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .remove-msg {
        background-color: #fefefe;
        text-align: center;
        padding: 20px;
        padding-top: 30px;
        border-radius: 8px;
        width: 250px;
    }

    .editing-fields {
      @include flexbox;
      @include justify-content(space-between);
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      width: 300px;
      height: 240px;

      .photo {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        cursor: pointer;
        overflow: hidden;
        box-sizing: border-box;
        background: {
          image: url('../img/add-photo.svg');
          position: center;
          repeat: no-repeat;
          color: #FFF;
        }


        width: 85px;
        height: 85px;
        border-radius: 7px;
        label.photo-file input[type="file"] {
          position: fixed;
          top: -1000px;
        }
        .photo-file {
          img {
            padding: 2rem 1.6rem;
            @media screen and (min-width: 600px) {
              width: 200px;
              height: 200px;
            }
          }
          cursor: pointer;
        }
      }

      .fields {
        width: 195px;
        height: 200px;
        // box-sizing: padding-box;
        .field-label {
          width: 195px;
          height: 47px;
          box-sizing: border-box;
          border-radius: 7px;
          font-size: 0.5rem;
          line-height: 1rem;
          background:#FFF;
          padding-top:0.2rem;
          padding-left: 1rem;
          margin-bottom: 0.7rem;
          color: #999;
          .req {
            color:$berry;
          }

          input {
            margin-top: -1.2rem;
            margin-left: -1rem;
            box-sizing: border-box;
            background:rgba(0,0,0,0);
            width: 195px;
            height: 47px;
            padding-top: 1.1rem;
            padding-left: 1rem;
            border: 0;
            color:#000;
            border-radius: 7px;
            font-size: 1rem;
          }
        }
      }
      @media screen and (min-width: 600px) {
        width: 600px;
        height: 325px;
        .photo {
          width: 290px;
          height: 290px;
          border-radius: 15px;
          background: {
            image: url('../img/add-photo.svg');
            position: center;
            repeat: no-repeat;
            size: 60px;
          }
        }
        .fields {
          width: 290px;
          height: 300px;
          .field-label {
            font-size: 0.7rem;
            width: 290px;
            border-radius: 10px;
            height: 58px;
            margin-bottom: 1.2rem;
            input {
              margin-top: -1.2rem;
              margin-left: -1rem;
              width: 290px;
              height: 58px;
              font-size: 1.2rem;
            }
          }
        }
      }

    }
    .buttons{
      ul {
        @include flexbox;
        @include justify-content(space-between);
        font-weight: 700;
        list-style: none;
        padding: 0;
        margin: 1rem 0 0 0;
        color:#FFF;
        font-size: 0.8rem;
        cursor: pointer;
        text-transform: uppercase;
        li {
          box-sizing: border-box;
          padding: 0.6rem;
          text-align: center;
          background:$berry;
          border-radius: 8px;
          &:first-of-type{
            background:$green;
          }
          &:last-of-type{
            background:$yellow;
          }
        }
        &.add-btn-list {
          li {
            @include flex(0, 0, 145px);
            @media screen and (min-width: 600px) {
              @include flex(0, 0, 290px);
              padding: 0.8rem;
            }
          }
        }
        &.edit-btn-list {
          li {
            @include flex(0, 0, 93px);
            @media screen and (min-width: 600px) {
              @include flex(0, 0, 190px);
              padding: 0.8rem;
            }
          }
        }
        &.r-confirm-btns {
          li {
            @include flex(0, 0, 120px);
            &:first-of-type {
              background: $berry;
            }
          }
        }
      }
    }
  }
}


.todo-panel {
  h1 {
    font-size: 1.2rem;
    color:$berry;
    font-weight: 700;
    // text-shadow: 0 0 3px rgba(200,200,200,.3);

  }
  box-sizing: border-box;
  background: rgba(255, 255, 255, .9);
  @include flexbox;
  @include justify-content(flex-start);
  @include align-content(flex-start);
  @include align-items(center);
  @include flex-direction(column);
  // display: none;
  width: 90vw;
  height: 100%;
  z-index: 999;
  position: fixed;
  top:0;
  left: -92vw;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, .3);
  padding: 1rem;
  overflow-y: auto;
  background-image: url('../img/food.png');
  .listapp {
    // @include flex-grow(0);
  }
  span.close-panel {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: {
      image: url('../img/close.svg');
      position: center;
      repeat: no-repeat;
    }

  }
}

.login-screen {
  position: fixed;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  // display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 990;
  color:#FFF;

  #bg-video {
    position: fixed;
    // right: 0;
    // bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
  div {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    z-index: 991;
    width: 300px;
    text-align: center;
    img {
      display: block;
      width: 190px;
      margin-bottom: 10px;
      @media screen and (min-width: 600px) {
        width: 300px;
      }
    }
    .login-btn {
      display: block;
      width: 280px;
      box-sizing: border-box;
      padding: 0.5rem;
      font-size: 0.8rem;
      margin: 0.5rem 0;
      border-radius: 10px;
      cursor: pointer;
    }
    #fb {
      margin-top: 1.5rem;
      background: {
        color: #2553B4;
        image: url('../img/facebook-icon.svg');
        repeat: no-repeat;
        position: 20px bottom;
        size: 12px;
      }
    }
    #google {
      background: {
        color: #FFF;
        image: url('../img/google-icon.svg');
        repeat: no-repeat;
        position: 18px center;
        size: 19px;
      }
      color:#333;
    }
  }

}

@import 'flatpick.scss';
@import 'todo-mvc.scss';
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.hidden {
    display: none !important;
}
